.content{
    background-color: white;
    justify-content: center;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    padding: 6px;
    margin: auto;
    display: inline-block;
}

.global-container{
    margin: 0 auto;
    position: relative;
}

.position-flex{
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
    min-height: 640px;
}

.header{
    margin: 0;
    outline: none;
    padding: 0;
    width: auto;
    min-height: 640px;
    background-color: #f2f4f7;
}

.background{
    font-family: inherit;
    padding-bottom: 112px;
    padding-top: 72px;
    background-color: #f2f4f7;
    min-width: 500px;
}

.inner-block{
    padding-bottom: 112px;
    padding-top: 72px;
}

.body{
    font-family: inherit;
    position: relative;
    padding: 20px 0;
    width: 980px;
    margin: 0 auto;
}

.logo{
    padding: 112px 0 16px;
}

.img{
    height: 106px;
    margin:-28px;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.description{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    padding: 0 0 20px;
    padding-top: 0;
}

.footer{
    padding-top: 20px;
}

.footer_info{
    color: #737373;
    margin: 0 40px;
    width: auto;
    text-align: center;
}

.ul-conf{
    padding-top: 8px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.footer_ul{
    margin: 0 40px;
    width: 100%;
    align-items: center;
    width: auto;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul li{
    padding-left: 10px;
}


.title{
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 32px;
    width: 580px;
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
}

.block__login{
    margin: auto;
}

.form{
    font-family: inherit;
    display: inline-block;
    vertical-align: top;
}

.block{
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    display: block;
    text-align: center;
}


.float{
    display: inline-block;
    vertical-align: top;
    font-family: inherit;
}

.block__border{
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background-color: #fff;
}

.block .block__border{
    border: none;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    background-color: #fff;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin-left: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
    padding-bottom: 24px;
    padding-top: 10px;
    display: block;
    text-align: center;
}

.content__input{
    padding-bottom: 4px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    color: #1d2129;
    line-height: 16px;
    height: 22px;
    vertical-align: middle;
    padding: 14px 16px;
    font-size: 17px;
    width: 330px;
    margin: auto;
}

.create-page{
    margin-top: 28px;
}

.content__description{
    font-family: SFProText-Semibold, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color:inherit;
    text-decoration: none;
    text-align: center;
}

.content__button{
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 364px;
    color:white;
    margin-bottom: 16px;
}

.forgot{
    font-family: inherit;
    color: #0866ff;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.block__split{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    cursor: pointer;
}

.new-account{
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-family: inherit;
    color:#fff;
    background-color: #42b72a;
}